version: 2
jobs:
  build:
    docker:
      - image: rikorose/gcc-cmake:gcc-8
    steps:
      - checkout
      - run:
          name: Compile project
          command: mkdir -p build && cd build && cmake .. && make
      - run:
          name: Run norm errors check
          command: |
            curl -s https://raw.githubusercontent.com/armandmgt/NormEZ/master/NormEZ.rb > norm
            chmod +x norm
            ./norm -u -i
